@import "./../../../css-config/mixins.scss";


.card_body {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 300px;

    justify-content: space-between;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }


    .name {
        font-weight: 700;

        color: orangered;
    }

    .price {
        color: green;

    }

    button {
        width: 180px;
        height: fit-content;
        padding: 10px;
        border-radius: 10px;
        background-color: blue;
        color: white;
        font-weight: 600;
    }


}